NEXT_PUBLIC_API_URL=https://tipico-backend.onrender.com/api
NEXT_PUBLIC_SITE_URL=https://www.tipicoet.bet
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=deve0w9bt
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=betting
CLOUDINARY_API_KEY=953428329841719
